.overlay{
  background: rgba(242, 243, 245, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container{
  background: var(--white);
  width: 100%;
  max-width: 400px;
  padding: 2rem 3rem;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
  text-align: center;
  position: relative;
}

.container header {
  font-size: 8.75rem;
  font-weight: 600;
  color: var(--blue);
  background: url('/icons/levelup.svg') no-repeat center;
  background-size: contain;

  text-shadow:  0px 10px 30px rgba(0, 0, 0, 0.4);
}

.container strong {
  font-size: 2.25rem;
  color: var(--title);
}

.container p {
  font-size: 1.25rem;
  color: var(--text);
  margin-top: 0.25rem;
}

.container button {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  background: transparent;
  border: 0;

  font-size: 0px;
}

a.twitterShareButtonLink{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.shareOnTwitter{
  width: 100%;
  max-width: 400px;
  height: 50px;
  background: var(--blue-twitter);

  border: none;
  border-radius: 0 0 5px 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--white);
  font-weight: 600;
  font-size: 1rem;

  transition: filter 0.2s;
}

button.shareOnTwitter:hover{
  filter: brightness(0.9);
}

button.shareOnTwitter img {
  margin-left: 0.5rem;
}

